

  :root {
    --navbar-background-light: #ffffff;
    --text-color-light: #000000;
    --navbar-background-dark: #222222;
    --text-color-dark: #ffffff;
  }
  
  .navbar {
    background-color: var(--navbar-background-light);
    color: var(--text-color-light);
  }
  
  .navbar.dark {
    background-color: var(--navbar-background-dark);
    color: var(--text-color-dark);
  }

/* LoveSurvey.css */

/* Container styles */
.LoveForm {
  background: linear-gradient(to bottom, #000000, #4c0033);
  color: #fff;
  font-family: 'Arial', sans-serif;
  padding: 10%;
  text-align: center;
}

/* Survey header styles */
.LoveForm h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Question styles */
.LoveForm .question-container {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 20px;
}

/* Option styles */
.LoveForm .option-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Text input styles */
.LoveForm input[type="text"] {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
}


.LoveForm button {
  --glow-color: rgb(217, 176, 255);
  --glow-spread-color: rgba(191, 123, 255, 0.781);
  --enhanced-glow-color: rgb(231, 206, 255);
  --btn-color: rgb(100, 61, 136);
  border: .25em solid var(--glow-color);
  padding: 1em 2em;
  margin: 10px;
  color: var(--glow-color);
  font-size: 15px;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em .25em var(--glow-color),
         0 0 4em 1em var(--glow-spread-color),
         inset 0 0 .75em .25em var(--glow-color);
  text-shadow: 0 0 .5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
 }
 
 .LoveForm button::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: .7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, .4);
 }
 
 .LoveForm button:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em .25em var(--glow-color),
         0 0 4em 2em var(--glow-spread-color),
         inset 0 0 .75em .25em var(--glow-color);
 }
 
 .LoveForm button:active {
  box-shadow: 0 0 0.6em .25em var(--glow-color),
         0 0 2.5em 2em var(--glow-spread-color),
         inset 0 0 .5em .25em var(--glow-color);
 }

 .LoveForm button.clicked {
    background-color: #ff0000;
 }

/* "Thank you" message styles */
.LoveForm .thank-you-message {
  font-size: 20px;
  margin-top: 20px;
}
:root {
  --navbar-background-light:rgb(255, 200, 210);
  --text-color-light: #141010;
  --navbar-background-dark: #311212;
  --text-color-dark: #ffffff;
}
.LoveForm.light {
  background-color: #ffffff;
  color: #000000;
}

/* Dark mode styles */
.LoveForm.dark {
  background-color: #333333;
  color: #ffffff;
}
.selected-option {
  background-color: var(--glow-spread-color);
  color: var(--btn-color);
  box-shadow: 0 0 1em .25em var(--glow-color),
              0 0 4em 2em var(--glow-spread-color),
              inset 0 0 .75em .25em var(--glow-color);
}

