.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(248, 217, 222);
    height: 70px;
}
.logo {
    width: 160px;
    cursor: pointer;
}
ul {
    display: flex;
    list-style: none;
    text-align: center;
    flex-wrap: wrap;

}
ul li {
    padding-left: 20px;
   
    margin-left:20px ;
    font-size: 18px;
    cursor: pointer;
    font-size: 17px;
    font-family:sans-serif;
}
.toggle-icon {
    width: 40px;
    cursor: pointer;
    margin-left: 40px;
}
.searchbar {
    display: flex;
    align-items: center;
    background-color: aliceblue;
    padding-left: 7px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 12px;
    border-radius: 10px;
    height: 20px;
    margin-right:0px;
    width: 150px;
    right: 0;
}
.searchbar input {
    padding: 6px;
    background: transparent;
    border: 0;
    outline: 0;
    color:black;
    font-size: 15px;
    max-width: 200px;

}
.searchbar input::placeholder {
    color: black;
}
.note {
    margin-left: 10px;
    font-family: sans-serif;
    font-size: 17px;
    display: flex;
    position: fixed;
   
    left: 0;
}
.button {
    display: block;
    align-items: center;
    background-color: aliceblue;
    padding: 10px 20px;
    border-radius: 20px;
    height: 20px;
    margin-right: px;
    width: 150px;
    left: 0;
    border: none;
    height: 5px;
}
/* NavBar.css */
:root {
    --navbar-background-light: #ec6f6f;
    --text-color-light: #141010;
    --navbar-background-dark: #632121;
    --text-color-dark: #ffffff;
  }
  
  .navbar {
    background-color: var(--navbar-background-light);
    color: var(--text-color-light);
  }
  
  .navbar.dark {
    background-color: var(--navbar-background-dark);
    color: var(--text-color-dark);
  }
  