/* Profile.css */
.profile-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .profile-form label {
    display: block;
    margin-bottom: 10px;
  }
  
  .profile-form input[type="text"],
  .profile-form input[type="number"],
  .profile-form textarea,
  .profile-form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .profile-form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .profile-details {
    margin-top: 20px;
  }
  
  .profile-details h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .profile-details p {
    margin-bottom: 5px;
  }

  .submit {
    font-family: inherit;
    font-size: 20px;
    background: royalblue;
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
  }
  
  .submit span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
  }
  
  .submit svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
  }
  
  .submit:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
  }
  
  .submit:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
  }
  
  .submit:hover span {
    transform: translateX(5em);
  }
  
  .submit:active {
    transform: scale(0.95);
  }
  
  @keyframes fly-1 {
    from {
      transform: translateY(0.1em);
    }
  
    to {
      transform: translateY(-0.1em);
    }
  }
  
  