.star-rating-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.star-button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 36px;
  color: #ccc;
}

.star.selected {
  color: #ffd700;
}

.star-button:hover .star {
  color: #fc7507;
}
